h1 {
	color: darkblue;
	font-size:60px;
}

html,
body {
	background: #f4f4f4;
    height: 100%;
}

#demo{
	font-size: 12px;
	color: darkblue;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin #floatingInput {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin #floatingPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-horizontal .control-label {
  text-align: left !important;
}

