<!--
layout: examples
title: Signin Template
extra_css:
  - "sign-in.css"
body_class: "d-flex align-items-center py-4 bg-body-tertiary"
-->

{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

{% endfor %}

    <h1 class="text-center">Login Page</h1>
	<br/><br/>

<main class="form-signin w-100 m-auto">
  <form method="POST">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
        {{ form.username( type="text", class="form-control", id="floatingInput") }}
        <label for="floatingInput">User Name</label>
    </div>

    <div class="form-floating">
        {{ form.password( type="password", class="form-control", id="floatingPassword") }}
        <label for="floatingPassword">Password</label>
    </div>

    {{ form.submit( class="btn btn-primary w-100 py-2", type="submit") }}
  </form>
</main>


{% endblock %}
